body{
    background-color: #202020;
}


.container{
    position: absolu;
    margin: 20px;
}

.container .card{
    display: flex;
    width: 60vw;
    margin: 20px;
    padding: 0px;
    background-color: #F9FAB9;
}

.container .card .card-img-top{
    display: flex;
    position: absolute;
    height: 140px;
    width: 140px; 
    margin: 0px;
    padding: 0px;
}



.container .card .card-body{
    
    text-align: end;
   

}

