<div class="container" style="margin:100px">
  <div class="row">
    <div class="col">
      <p class="text-end">
        <span>Hola {{persona}}!</span>
        <a href="/admin/login/logout" class="btn btn-danger">
          Cerrar session
          <i class="fa fa-sign-out" aria-hidden="true"></i></a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-7" style="margin-top: -9px;">
      <h2>Listado de Novedades</h2>
    </div>
    <div class="col-5 text-end">
      <a href="" class="btn btn-success"><i class="fas fa-plus"></i> Nuevo</a>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr class="thead-dark">
            <th scope="col">#</th>
            <th scope="col">Titulo</th>
            <th scope="col" class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {{#each novedades}}
            <tr>
              <th scope="row">{{id}}</th>
              <td>{{titulo}}</td>
              <td class="text-center">
                <a href="" class="btn btn-sm btn-secondary">
                  <i class="fa fa-pencil-alt"></i></a>
                <a href="/admin/novedades/eliminar{{id}}" class="btn btn-sm btn-secondary"><i class="fa fa-trash"></i></a>
              </td>
            </tr>

          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

</div>