/*
font-family: "Open Sans", sans-serif;

font-family: "Alfa Slab One", serif;
**/

body{
    background-color: black;
}


.titulo{
    font-family: "Alfa Slab One", serif;
    margin-top: 50px;
    color: white;
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
}

.container .text-center {
    margin: 10px;
}

#cambiarPagina{
    margin-top: 15px;
}

footer{
    background-color: grey;
    margin-top: 30px;
}

.verTodo{
    padding: 20px;
}
